.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}


#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: large;
  
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#answer-buttons {
  display: flex;
  margin-top: 60px;
  display: flex;
  align-items: center
}

#results {
text-align: center;


}

#next-btn {

 margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@keyframes move-up {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px); 
  }
  100% {
      transform: translateY(0);
  }
}

.start-test {
  animation: move-up 2s infinite; 
  

}
